ldap3>=2.9.1
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-dotenv>=1.0.0
dnacentersdk>=2.6.0
ciscoisesdk>=2.4.0
requests>=2.33.1
netmiko>=4.6.0
pydantic>=2.13.0
jinja2>=3.1.6
python-multipart>=0.0.26
